<footer class="page-footer orangy">
<div class="container">
  <div class="row">
    <div class="col l4 s12">
      <h5 class="schwarz-text">ASL Texter</h5>
      <p class="creamy-text">We are a team of multidisciplinary students working towards better inclusivity using using deep learning.</p>


    </div>

    <div class="col l8 s12">
      <h5 class="schwarz-text"> Our Team</h5>

      <div class="row">
        <ul>
          <div class="col s2"><li><a class="creamy-text" href="#!">Eva Deltor</a></li></div>
          <div class="col s3"><li><a class="creamy-text" href="#!">Valeh Farzaliyev</a></li></div>
          <div class="col s2"><li><a class="creamy-text" href="#!">Jan Carbonell</a></li></div>
          <div class="col s3"><li><a class="creamy-text" href="#!">Shivam Goraksha</a></li></div>
        </ul>  
        </div>
    </div>
  </div>
</div>
<div class="footer-copyright schwarz ">
  <div class="container">
  Made with ❤️ from <a class="orangy-text" href="https://en.wikipedia.org/wiki/Barcelona">Barcelona</a>, <a class="orangy-text" href="https://en.wikipedia.org/wiki/Hamburg">Hamburg</a> and <a class="orangy-text" href="https://en.wikipedia.org/wiki/Tallin">Tallin</a>
  </div>
</div>
</footer>
