<footer class="page-footer blue lighten-2">
<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">ASL Platform (name pending)</h5>
      <p class="grey-text text-lighten-4">We are a team of multidisciplinary students working towards better inclusivity using using deep learning.</p>


    </div>
<!--     <div class="col l3 s12">
      <h5 class="white-text">Settings</h5>
      <ul>
        <li><a class="white-text" href="#!">Link 1</a></li>
        <li><a class="white-text" href="#!">Link 2</a></li>
        <li><a class="white-text" href="#!">Link 3</a></li>
      </ul>
    </div> -->
    <div class="col l3 s12">
      <h5 class="white-text">Team</h5>
      <ul>
        <li><a class="white-text" href="#!">Eva Deltor</a></li>
        <li><a class="white-text" href="#!"></a>Valeh Farzaliyev</li>
        <li><a class="white-text" href="#!">Jan Carbonell</a></li>
        <li><a class="white-text" href="#!">Shivam Goraksha</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
  Made with ❤️ from <a class="black-text text-lighten-3" href="https://en.wikipedia.org/wiki/Barcelona">Barcelona</a>, <a class="black-text text-lighten-3" href="https://en.wikipedia.org/wiki/Hamburg">Hamburg</a> and <a class="black-text text-lighten-3" href="https://en.wikipedia.org/wiki/Tallin">Tallin</a>
  </div>
</div>
</footer>
